// First one has to be the exectuable
1  RCDATA      "..\\Extractor\\CQCInstUnp.exe"
2  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDCommonText_en.CIDMsg"
3  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDCrypto_CQC_VERSION.dll"
4  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDCrypto_CQC_VERSION_en.CIDMsg"
5  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDCtrls_CQC_VERSION.CIDRes"
6  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDCtrls_CQC_VERSION.dll"
7  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDCtrls_CQC_VERSION_en.CIDMsg"
8  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDImage_CQC_VERSION.dll"
9  RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDImage_CQC_VERSION_en.CIDMsg"
10 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDImgFact_CQC_VERSION.dll"
11 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDImgFact_CQC_VERSION_en.CIDMsg"
12 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDJPEG_CQC_VERSION.dll"
13 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDJPEG_CQC_VERSION_en.CIDMsg"
14 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDKernel_CQC_VERSION.dll"
15 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDKernel_CQC_VERSION_en.CIDMsg"
16 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDLib_CQC_VERSION.dll"
17 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDLib_CQC_VERSION_en.CIDMsg"
18 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDMath_CQC_VERSION.dll"
19 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDMath_CQC_VERSION_en.CIDMsg"
20 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDPack_CQC_VERSION.dll"
21 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDPack_CQC_VERSION_en.CIDMsg"
22 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDPNG_CQC_VERSION.dll"
23 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDPNG_CQC_VERSION_en.CIDMsg"
24 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDGraphDev_CQC_VERSION.CIDRes"
25 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDGraphDev_CQC_VERSION.dll"
26 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDGraphDev_CQC_VERSION_en.CIDMsg"
27 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDZLib_CQC_VERSION.dll"
28 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDZLib_CQC_VERSION_en.CIDMsg"
29 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDMData_CQC_VERSION.dll"
30 RCDATA      "..\\InstImage\\Image\\CIDLib\\CIDMData_CQC_VERSION_en.CIDMsg"
31 RCDATA      "..\\InstImage\\Image\\AppIcons\\CQCApp.ico"
32 RCDATA      "..\\Extractor\\CQCImage_CQC_FULL_VERSION.CIDPack"
33 RCDATA      "..\\Extractor\\CQCInstUnp.CIDRes"
34 RCDATA      "..\\Extractor\\CQCInstUnp_en.CIDMsg"


#ifdef CQC_DEBUG
35 RCDATA      "..\\InstImage\\vcruntime140d.dll"
#else
35 RCDATA      "..\\InstImage\\vcruntime140.dll"
#endif
